<section id="about-me" class="mb-24">
  <h2 class="uppercase font-bold text-black dark:text-white mb-4 lg:hidden">
    About Me
  </h2>
  <p class="mb-3">
    I am an aspiring Data Scientist pursuing a Master’s in Data Science at the University of Maryland. With expertise in machine learning, statistical modeling, and big data systems, I am passionate about solving complex problems and driving impactful decisions through data, with a specific interest in computer vision applications.
  </p>
  <p class="mb-3">
    At 
    <a
      href="https://www.optum.com"
      target="_blank"
      class="text-blue-600 hover:text-blue-800 dark:hover:text-blue-400 transition-colors"
    >
      Optum Global Solutions
    </a>, 
    I implemented machine learning models and automated workflows, reducing processing time by 40% and increasing throughput by 32%. My work included PaaS modules, NLP-based automation, and a patented image similarity model for form processing.
  </p>
  <p class="mb-3">
    My technical toolkit includes Python, SQL, Scikit-Learn, TensorFlow, and cloud platforms like AWS and Azure. I have experience deploying scalable solutions and deriving actionable insights, particularly in computer vision tasks such as OCR-based text extraction and image analysis.
  </p>
  <p class="mb-3 font-semibold text-slate-900 dark:text-slate-100">
    I aim to leverage my skills and passion for computer vision to deliver impactful solutions that optimize processes, enhance user experiences, and drive innovation.
  </p>
</section>
