<section id="learning-focus" class="mb-24" x-data="{ activeTag: 'all' }">
  <h2 class="uppercase font-bold text-black dark:text-white mb-4 lg:hidden">
    Learning focus
  </h2>
  <p class="mb-2 font-bold">
    Skills:
  </p>
  <ul class="flex gap-1 flex-wrap mb-4">
    <template
      x-for="filter in ['all', 'data', 'machine-learning', 'backend', 'frameworks', 'languages']"
    >
      <li>
        <button
          x-bind:class="activeTag === filter ? 'bg-slate-200 dark:bg-slate-800 text-black dark:text-white' : 'bg-slate-300 dark:bg-slate-900'"
          x-text="filter"
          @click="activeTag = filter"
          class="py-1 px-2 rounded-md hover:bg-slate-400 dark:hover:bg-slate-700 text-sm transition-all"
        ></button>
      </li>
    </template>
  </ul>
  <ul class="flex gap-2 flex-wrap">
    {% for learning in site.data.learning %}
    <li
      style="transition-behavior: allow-discrete"
      class="transition-all"
      x-bind:class="(activeTag === 'all' || activeTag === '{{ learning.tag }}') ? 'opacity-100 block' : 'opacity-0 hidden'"
    >
      <a
        href="{{ learning.url }}"
        target="_blank"
        title="I am using {{ learning.name }} {{ learning.reason }}"
        style="background-image: url('/assets/tech-logos/{{ learning.logo-filename }}')"
        class="block rounded-md border-white dark:border-black hover:border-blue-800 dark:hover:border-blue-400 bg-origin-padding bg-no-repeat border-2 size-16 bg-center bg-cover bg-white transition-all"
      ></a>
    </li>
    {% endfor %}
  </ul>
</section>
