<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}" class="scroll-smooth" x-data="{
darkMode: localStorage.theme === 'dark' || ( !('theme' in localStorage) &&
window.matchMedia('(prefers-color-scheme: dark)').matches) }"
x-bind:class="darkMode ? 'dark' : '' ">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="icon" href="{{ "/assets/favicon.svg" | relative_url }}">
  <script
    src="https://kit.fontawesome.com/9d2e3172d6.js"
    crossorigin="anonymous"
  ></script>
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"
  ></script>
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
  ></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
</head>
<body
  class="relative bg-slate-300 dark:bg-slate-900 text-lg text-slate-800 dark:text-slate-300 antialiased font-display"
>
  <div
    class="fixed z-10 top-2 right-2 p-1 inline-block gap-1 shadow-md rounded-md backdrop-blur-sm bg-white/30 dark:bg-black/30 text-sm"
  >
    <button
      type="button"
      title="Toggle light mode"
      class="px-2 py-1 rounded-md hover:bg-slate-300 dark:hover:bg-slate-800"
      @click="() => {
        localStorage.theme = 'light';
        darkMode = false;
      }"
    >
      <i class="fa-solid fa-cloud-sun"></i></button
    ><button
      type="button"
      title="Toggle dark mode"
      class="px-2 py-1 rounded-md hover:bg-slate-300 dark:hover:bg-slate-800"
      @click="() => {
        localStorage.theme = 'dark';
        darkMode = true;
      }"
    >
      <i class="fa-solid fa-moon"></i></button
    ><button
      type="button"
      title="Toggle dark mode system preference"
      class="px-2 py-1 rounded-md hover:bg-slate-300 dark:hover:bg-slate-800"
      @click="() => {
        localStorage.removeItem('theme');
        darkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
      }"
    >
      <i class="fa-solid fa-gear"></i>
    </button>
  </div>
  <div class="lg:max-w-screen-lg lg:mx-auto">
    <div class="px-6 lg:px-0 lg:flex">
      <header class="pt-12 lg:sticky lg:top-0 lg:h-dvh lg:w-1/2 lg:pt-16">
        <h1 class="text-6xl mb-4">
          Hi, I'm
          <mark
            class="text-transparent bg-clip-text bg-gradient-to-br from-orange-500 to-purple-500"
            >Arunbh</mark
          >.
        </h1>
        <h2 class="text-3xl mb-4">Student at UMD</h2>
        <!-- Social Links Section -->

        <nav aria-label="Social media links" class="mb-4">
          <ul class="flex gap-2">
            <li>
              <a
                href="https://kautilyaa.github.io/"
                target="_blank"
                title="Personal GitHub Profile"
                class="flex items-center justify-center w-12 h-12 rounded-md border-2 border-slate-300 hover:border-blue-800 dark:border-slate-700 dark:hover:border-blue-400 transition-all bg-[#f8f8f8]/60"
              >
                <img
                  src="/assets/icons/github-icon.png"
                  alt="GitHub"
                  class="w-8 h-8"
                  style="width: 32px; height: 32px;"
                />
                <span class="sr-only">GitHub</span>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/arunbh-yashaswi/"
                target="_blank"
                title="LinkedIn Profile"
                class="flex items-center justify-center w-12 h-12 rounded-md border-2 border-slate-300 hover:border-blue-800 dark:border-slate-700 dark:hover:border-blue-400 transition-all bg-[#f8f8f8]/60"
              >
                <img
                  src="/assets/icons/linkedin-icon.png"
                  alt="LinkedIn"
                  class="w-8 h-8"
                  style="width: 32px; height: 32px;"
                />
                <span class="sr-only">LinkedIn</span>
              </a>
            </li>
            <li>
              <a
                href="https://stackoverflow.com/users/13945615/arunbh-yashaswi"
                target="_blank"
                title="Stack Overflow Profile"
                class="flex items-center justify-center w-12 h-12 rounded-md border-2 border-slate-300 hover:border-blue-800 dark:border-slate-700 dark:hover:border-blue-400 transition-all bg-[#f8f8f8]/60"
              >
                <img
                  src="/assets/icons/stackoverflow-icon.png"
                  alt="Stack Overflow"
                  class="w-8 h-8"
                  style="width: 32px; height: 32px;"
                />
                <span class="sr-only">Stack Overflow</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="w-full lg:w-2/3 mb-8">
          I
          <strong class="font-semibold text-slate-950 dark:text-slate-50">analyze</strong>
          complex data;
          <strong class="font-semibold text-slate-950 dark:text-slate-50">develop</strong>
          machine learning models;
          <strong class="font-semibold text-slate-950 dark:text-slate-50">optimize</strong>
          workflows; and help organizations
          <strong class="font-semibold text-slate-950 dark:text-slate-50">drive</strong>
          impactful decisions through data.
        </div>
        <ul class="hidden lg:block">
          <li>
            <a
              href="#about-me"
              class="group dark:hover:text-slate-50 transition-all"
              >About me
              <span
                class="inline-block ml-1 transition-transform group-hover:translate-x-1"
              >
                <i class="fa-solid fa-arrow-right fa-xs"></i></span
            ></a>
          </li>
          <li>
            <a
              href="#learning-focus"
              class="group dark:hover:text-slate-50 transition-all"
              >Skills
              <span
                class="inline-block ml-1 transition-transform group-hover:translate-x-1"
              >
                <i class="fa-solid fa-arrow-right fa-xs"></i></span
            ></a>
          </li>
          <li>
            <a
              href="#professional-experience"
              class="group dark:hover:text-slate-50 transition-all"
              >Professional experience
              <span
                class="inline-block ml-1 transition-transform group-hover:translate-x-1"
              >
                <i class="fa-solid fa-arrow-right fa-xs"></i></span
            ></a>
          </li>
          <li>
            <a
              href="#testimonials"
              class="group dark:hover:text-slate-50 transition-all"
              >Testimonials
              <span
                class="inline-block ml-1 transition-transform group-hover:translate-x-1"
              >
                <i class="fa-solid fa-arrow-right fa-xs"></i></span
            ></a>
          </li>
          <li>
            <a
              href="#projects"
              class="group dark:hover:text-slate-50 transition-all"
              >Projects
              <span
                class="inline-block ml-1 transition-transform group-hover:translate-x-1"
              >
                <i class="fa-solid fa-arrow-right fa-xs"></i></span
            ></a>
          </li>
          <li>
            <a
              href="#publications"
              class="group dark:hover:text-slate-50 transition-all"
              >Publications & Patents
              <span
                class="inline-block ml-1 transition-transform group-hover:translate-x-1"
              >
                <i class="fa-solid fa-arrow-right fa-xs"></i></span
            ></a>
          </li>
          <li>
            <a
              href="#achievements"
              class="group dark:hover:text-slate-50 transition-all"
              >Achievements
              <span
                class="inline-block ml-1 transition-transform group-hover:translate-x-1"
              >
                <i class="fa-solid fa-arrow-right fa-xs"></i></span
            ></a>
          </li>
          <li>
            <a
              href="#qualifications"
              class="group dark:hover:text-slate-50 transition-all"
              >Qualifications
              <span
                class="inline-block ml-1 transition-transform group-hover:translate-x-1"
              >
                <i class="fa-solid fa-arrow-right fa-xs"></i
              ></span>
            </a>
          </li>
        </ul>
      </header>
      <main class="py-16 lg:w-1/2">
        {% include about-me.html %}
        {% include learning-focus.html %}
        {% include professional-experience.html %}
        {% include testimonials.html %}
        {% include projects.html %}
        {% include publications.html %}
        {% include achievements.html %}
        {% include qualifications.html %}
        {% include made-with-care.html %}
      </main>
    </div>
  </div>
  {% include shooting-stars.html %}
</body>
</html>
